.players-table {
  // position: absolute;
  // right: 5%;
  // top: 5%;
  // float: left;
  width: 50%;
  table {
    border-collapse: collapse;
  }
  td,
  thead {
    border: 1px solid;
    padding: 20px;
  }
  .currentPlayer {
    background: tan;
  }
}
