.bid-container {
  width: 50%;
  height: 400px;
  button {
    width: 100px;
    height: 100px;
    font-size: 100px;
    font-family: "Times New Roman", Times, serif;
    border-radius: 30px;
    vertical-align: center;
    align-items: center;
  }
}
