.scoreboard-container {
  font-size: 20px;
  background: rgb(194, 240, 194);
  width: 100%;
  margin: auto;
  position: fixed;
  bottom: 0;
}

.scoreboard-inner-title {
  width: 100%;
}

#scoreboard-inner-container {
  &.hidden {
    display: none;
  }

  display: flex;
  height: 400px;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 100;
  // background: yellow;
  width: 100%;
  overflow-y: scroll;
}

.scoreboard-single-round {
  width: 33%;
  font-size: 20px;
  align-items: center;
  table {
    border-collapse: collapse;
    margin: 5px auto;
    tr {
      margin: 0px;
    }
    td {
      border: 1px solid;
      margin: 0px;
      padding: 5px;
      background: green;
      //   display: inline-block;
    }
    // padding: 20px;
    background: yellow;
    border: solid 1px;
  }
}
